.weather_info {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	font-size: 20px;
	letter-spacing: 2px;
	justify-content: space-around;
	margin-left: 10%;
	padding-top: 2rem;
}
.weather_param_wrapp{
	display: flex;
	width: 50%;
	height: 128px;
	flex-direction: column;
	justify-content: space-around;
}
.weather_param_wrapp_other{
	display: flex;
	width: 50%;
	height: 117px;
	flex-direction: column;
	justify-content: space-around;
}
.weather_key {
	display: flex;
	align-items: center;
	color: #A52A2A;
	
}
.weather_key:last-child {border: 0;}
.weather_key img{
	padding-left: 5px;
	max-width: 55px;
}
.weather_value {
	color: #fff;
	padding-left: 0.5rem
}
.weather_error {
	color: red;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 200;
}